@model List<Escuela>
@{
    ViewData["Title"] = "Informacion Escuelas";
}

@foreach (Escuela Escuela in Model)
{
    <partial name="EscuelaAccordion" model="Escuela"/>
}
<a class="nav-link text-dark" asp-area="" asp-controller="Escuela" asp-action="Create">Crear una Escuela</a>