@model Asignatura
@{
    ViewData["Title"] = "Crear Alumno";
}

<form method="post">
    <div class="d-flex justify-content-center">
        <label asp-for="Nombre">
            <h3>Ingrese su nombre:</h3>
        </label>
    </div>
    <input type="text" class="form-control text-center" asp-for="Nombre"/>
    <button type="submit" class="btn btn-primary d-flex mx-auto mt-3">Crear</button>
</form>


