@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mb-2 mb-md-0 d-flex justify-content-center justify-content-md-end">
                <a class="btn btn-primary" asp-controller="Alumno" asp-action="Create">Ingresar como alumno</a>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
                <a class="btn btn-secondary" asp-controller="Escuela" asp-action="Create">Ingresar como escuela</a>
            </div>
        </div>
    </div>
</div>
