@model List<Asignatura>
@{
    ViewData["Title"] = "Informacion Asignatura";
}

@foreach (Asignatura asignatura in Model)
{
    <partial name="AsignaturaSimple" model="asignatura"/>
    <hr />
}

    <a class="btn btn-primary" asp-area="" asp-controller="Asignatura" asp-action="Create">Crear una asignatura</a>